# Ignore node_modules
node_modules

# Ignore logs
logs
*.log

# Ignore the Dockerfile and .dockerignore itself
Dockerfile
.dockerignore

# Ignore git folder and .gitignore
.git
.gitignore

# Ignore OS-specific files
.DS_Store
